body {
  font-family: Arial, sans-serif; 
  background-color: white;
  text-align: left;
}
h1 {
  text-decoration: italic;
  font-size: 70px; 
}

h2, h3, h4 {
  font-weight: normal;
  font-style: bold;
}
p {

}

li{
  font-family: sans-serif;
  text-align: left;
}

a {
  text-decoration: none;
}

ul {
  text-align: left;
}