@font-face {
	font-family: Lato;
    src: url(../fonts/Lato-Light.ttf);
 }   

body {
	font-family: Lato, Arial;
    border: solid 6px #dddddd; 
}

#container {
	width: 720px;
	padding: 54px;
}

.nav {
	padding-right: 15px;
	display: inline;
	text-decoration: underline;
}

.navigation, a {
	color: #dddddd;
}

.navigation, a:hover {
	color: black;
}

h1 {
	color: #dd0000;
	padding: 0;
}

h2.date {
 	color: #cccccc;
 }

h3 {
	color: black;
}

h4 {
	color: #aa0000;
	text-align: right;
	font-family: Arial;	
	font-weight: bolder;
}

.next, a {
	text-decoration: none;
}

.articles {
	width: 720px;
	margin: 50px 0;
}

img {
	width: 720px;
	padding: 20px 0;
}
.text {
	color: #444444;
	line-height: 1.5em;
}

hr {
	border: solid 1px #dddddd;
}

#footer p {
	color: #bbbbbb;
	padding: 0;
	letter-spacing: 1px;
	display: inline;
}
#footer a {
	text-decoration: none;
	color: #DD0000;
}

#footer a:hover {
	color: #aa0000
}

#closing {
	margin-top: 20px;
}

.copy {
	color: #bbbbbb;
}